:root {
  --form-bg: linear-gradient(135deg, rgba(220, 220, 220, 1) 0%, rgba(160, 160, 160, 1) 100%);
  --btn-bg: linear-gradient(-45deg, rgba(100, 100, 210, 1) 0%, skyblue 100%);
}

body {
  font-family: Helvetica;
}

.navbar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.navbar a {
  text-decoration: none;
}

.home-title {
  text-align: center;
}

.page-title {
  text-align: center;
  margin-bottom: 40px;
}

.registration-form {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 420px;
  height: 440px;
  padding: 40px;
  border-radius: 8px;
  background: var(--form-bg);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.35);
}

.form-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.form-field {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.form-field label {
  position: relative;
  padding-bottom: 10px;
}

.form-field input {
  font-size: 20px;
  padding: 6px;
  border: none;
  border-radius: 4px;
}

.error-msg {
  font-size: 14px;
  margin: 5px 0px 26px 0px;
  color: #ef3434;
}

.submit-btn {
  width: 100%;
  padding: 10px 16px;
  margin: 30px 0px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  background: var(--btn-bg);
  color: white;
  filter: brightness(0.9);
  cursor: pointer;
  transition: 0.25s ease;
}

.submit-btn:hover {
  filter: brightness(1.0);
}

.have-acct {
  text-align: center;
  margin: 0px;
}

.form-link {
  color: black;
  text-decoration: none;
}

.form-link:hover {
  text-decoration: underline;
}

.registration-response {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 420px;
  border-radius: 6px;
  top: 80px;
}
