:root {
  --form-bg: linear-gradient(135deg, rgba(200, 200, 200, 1) 0%, rgba(150, 150, 150, 1) 100%);
  --btn-bg: linear-gradient(-45deg, rgba(100, 100, 210, 1) 0%, skyblue 100%);
}

body {
  font-family: Helvetica;
}

.page-title {
  text-align: center;
  margin-bottom: 40px;
}

.registration-form {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 380px;
  padding: 30px;
  border-radius: 8px;
  background: var(--form-bg);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.35);
}

.form-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.form-field {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0px 0px 30px 0px;
}

.form-field label {
  position: relative;
  padding-bottom: 10px;
}

.form-field input {
  font-size: 18px;
  padding: 6px;
  border: none;
  border-radius: 4px;
}

.submit-btn {
  width: 100%;
  padding: 10px 16px;
  margin: 30px 0px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  background: var(--btn-bg);
  color: white;
  filter: brightness(0.9);
  cursor: pointer;
  transition: 0.25s ease;
}

.submit-btn:hover {
  filter: brightness(1.0);
}

.form-link {
  cursor: pointer;
}
